.task {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin: 0 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  &__text {
    width: 400px;
  }

  &__date {
    width: 90px;
  }
}
